@import url("components/main-header.css");
@import url("components/main-action.css");
@import url("components/main-banner.css");
@import url("components/banner-wrapper.css");
@import url("components/main-button.css");
@import url("components/menu-section.css");
@import url("components/main-header.css");
@import url("components/about-section.css");
@import url("components/section-title.css");


* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
}  
  
html, body {  
    height: 100%;  
    font-family: sans-serif;  
}

:root{
  --primary: #f9e022;
  --secondary: #fff;
  --tertiary: #241f1e;
  --font: "Montserrat", sans-serif;
}


