* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
}  
  
html, body {  
    height: 100%;  
    font-family: sans-serif;  
}

:root{
  --primary: #f9e022;
  --secondary: #fff;
  --tertiary: #241f1e;
  --font: "Montserrat", sans-serif;
}

