#contact-section{
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
}

.contact-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-top: 4rem;
    padding-bottom:4rem;
}

.contact-img-container{
    display: flex;
    width: 30%;
}

.contact-img-container img{
    width: 20rem;
    height: 20rem;
}

.info-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.info-container p{
    font-family: var(--font);
    font-size: 1.6rem;
}

@media screen and (max-width: 1259px){
    .contact-wrapper{
        gap: 6rem;
        padding-left: 1rem;
    }
    .info-container{
        padding-right: 1rem;
    }
    .info-container p{
        font-size: 1.4rem;
    }
}


@media screen and (max-width: 874px) {

    .contact-img-container img{
        width: 16rem;
        height: 16rem;
    }

    .contact-wrapper{
        gap: 5rem;
        padding: 2rem;
    }

  }

@media screen and (max-width: 678px){
    .contact-wrapper img{
        width: 14rem;
        height: 14rem;
    }
    .info-container p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 610px){
    .contact-wrapper img{
        width: 13rem;
        height: 13rem;
    }
}

@media screen and (max-width: 510px){
    .contact-wrapper{
        flex-direction: column;
        gap:3rem
    }
    .contact-img-container img{
        width: 17rem;
        height: 17rem;
    }

    .contact-img-container{
        justify-content: center;
        align-items: center;
    }
}