#main-button button{
  background-color: var(--tertiary);
  border: none;
  color: var(--secondary);
  width: 10rem;
  height: 4rem;
  border-radius: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.5s ease;
  font-weight: 600;
  font-family: var(--font);
  font-size: 1.1rem;
}

#main-button button:hover{
  transform: scale(1.05);
}

@media screen and (max-width: 1153px) {
  #main-button button{
    width: 9rem;
    height: 3rem;
    font-size: 1rem;

  }

}