#main-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary);
    height: 62vh;
}

.banner-img {
    height: 38rem;
    width: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img div {
    height: 38rem;
    width: 38rem;
    background-image: url("../../img/Design\ sem\ nome.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@media screen and (max-width: 1006px) {
    .banner-img div {
        height: 30rem;
        width: 100%;
    }
}

@media screen and (max-width: 884px) {
    .banner-img div {
        height: 16rem;
        width: 16rem;
    }

    .banner-img{
        width: 32rem;
        height: 27rem;
    }

    #main-banner {
        flex-direction: column;
    }
}

@media screen and (max-width:330px) {
    .banner-img div {
        height: 16rem;
    }
}

@media screen and (max-width: 614px){
    .banner-img div {
        height: 14rem;
        width: 14rem;

    }
}

@media screen and (max-width:522px) {
    .banner-img {
        width: auto;
    }
}