.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary);
    height: 10vh;
}

.main-header img{
    width: 12rem;
    height: 9rem;
    padding: 0.2rem;
}