.main-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary);
    height: 62vh;
}

.banner-img{
    height: 38rem;
    width: 38rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-img div {
    height: 38rem;
    width: 38rem;
    background-image: url("../../img/Design\ sem\ nome.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
