#main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--tertiary);
    height: 10vh;
}

#main-header img{
    width: 12rem;
    height: 9rem;
    padding: 0.2rem;
}

#main-header .bi-list{
    display: none;
}

.main-navigation__hamburguer{
    display: none;
    position: absolute;
    right: -10000px;
    top: 0px;
    height: 100vh;
    width: 15rem;
    background-color: var(--tertiary);
}

@media screen and (max-width: 616px){
    .main-navigation{
        display: none;
    }

    .bi-x{
        color: var(--secondary);
        font-size: 1.6rem;
        cursor: pointer;
    }

    .main-navigation__hamburguer div:nth-child(1){
        display: flex;
        justify-content: flex-end;
        padding-right: 1rem;
        padding-top: 1rem;
    }

    .main-navigation__hamburguer div:nth-child(2){
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        height: 100%;
    }

    #main-header .bi-list{
        color: var(--secondary);
        font-size: 1.6rem;
        padding-right: 1rem;
        cursor: pointer;
        display: block;
    }

    #main-header img{
        width: 11rem;
        height: 8rem;
        padding: 0.2rem;
    }
}