.main-action{
    display: inline-flex;
    justify-content: space-around;
    color: var(--secondary);
    font-family: var(--font);
    margin-right: 3vh;
    font-size: 18px;
    transition: 0.4s ease;
}

.main-action:hover{
    color: var(--primary);
}