.main-action{
    display: inline-flex;
    justify-content: space-around;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    margin-right: 3vh;
    font-size: 18px;
    transition: 0.4s ease;
}

.main-action:hover{
    color: #f9e022;
}