#menu-section{
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    padding-bottom: 6rem;
}

.category{
    text-align: center;
    font-family: var(--font);
    color: var(--tertiary);
    font-size: 1.2rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.products-img{
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: center;
}

.products-img img{
    border: solid var(--secondary) 0.4rem;
    width: 16rem;
    height: 16rem;
}

@media screen and (max-width: 1090px) {
    .products-img{
        gap: 5rem;
    }
  }

@media screen and (max-width: 940px) {
    .products-img{
        gap: 1rem;
    }
}

@media screen and (max-width: 796px) {
.products-img img{
    width: 12rem;
    height: 12rem;
}
}



@media screen and (max-width: 612px) {
    .products-img img{
        width: 9rem;
        height: 9rem;
    }

    
  }

  @media screen and (max-width: 562px) {
    .products-img {
        flex-direction: column;
    }
    .products-img img{
        width: 13rem;
        height: 13rem;
    }
  }
  
