.section-title{
    display: flex;
    justify-content: center;
    background-color: var(--secondary);
    padding: 0.7rem;
    font-family: var(--font);
    color: var(--tertiary);
    font-size: 1.3rem;
}
